.bi-logo-left {
    font-size: 32px;
    color: #009688;
}

.bi-logo-right {
    font-size: 32px;
    color: grey;
}

.bi-avatar {
    border-radius: 100% !important;
}

.bi-captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;
}

.simditor-body img {
    max-width: 100%;
}

.reply-simditor .simditor .simditor-body {
    min-height: 100px;
}

.fly-header {
    border-top: 4px solid #009688;
    border-bottom: 0px solid #fff;
    box-shadow: 0 1px 11px 2px rgba(42, 42, 42, .1);
    height: 56px;
}

.layui-bg-black {
    background-color: #fff !important;
}

.layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a {
    color: darkgray;
}

.layui-nav .layui-nav-item a {
    color: dimgrey;
}

a {
    color: #4c4c4c;
}
