.bi-logo-left {
    font-size: 32px;
    color: #009688;
}

.bi-logo-right {
    font-size: 25px;
    color: #c2c2c2;
}

.bi-avatar {
    border-radius: 100% !important;
}

.bi-captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;
}

.simditor-body img {
    max-width: 100%;
}

.reply-simditor .simditor-wrapper {
    height: 150px !important;
}
